<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/xxgodmoonxx/Documents/SFC/2017_3年春学期/グラフィックスプログラミング/gp/graphic_first/graphic_first.xcodeproj</string>
</dict>
</plist>
