<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-06-01T10:55:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/xxgodmoonxx/Documents/openFrameworks/of_v0.9.8_osx_release/apps/myApps/2017-06-01-helloOF/2017-06-01-helloOF.xcodeproj</string>
</dict>
</plist>
